<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="DefaultConnection1"
         connectionString="Server=tcp:makertable.database.windows.net,1433;Initial Catalog=MakerTableDB;Persist Security Info=False;User ID={admin1};Password={Lespaul@9};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
  />
  </connectionStrings>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

</configuration>
